extends base

block content
    .container
      .login-container
        h2.text-center Login
        form(id="loginForm")
          .form-group
            label(for="email") Email address
            input#email.form-control(type="email", placeholder="Enter email" required)
          .form-group
            label(for="password") Password
            input#password.form-control(type="password", placeholder="Enter password" required)
          button.btn.btn-primary.btn-block(type="submit") Login
        p.text-center.mt-3
          | Don&apos;t have an account?
          a(href="signup") Sign Up
    script(src="/js/axios.min.js")
    script(type="module" src="/js/login.js")
    